
.App {
  text-align: center;
  margin: 0 auto;
}

.App-header {
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(110, 203, 224);
  color: white;
}

button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.task td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
  padding: 10px;
}
